<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kratopia</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style>
        .card {
            background-color: beige;
            margin-top: 5px;
            border: 1px solid #000;
        }
    </style>
    <script>
        function reservation() {
            alert('예약')
        }
    </script>
</head>

<body>
    <a href="/">
        <h1>Kratopia</h1>
    </a>

    <div>
        <span>{{reservations[0][0].class}}반!</span>
        {% for date in range(7) %}
        <div class="week">
            <span>{{week[date]}}</span>
            {% for time in range(17) %}
            <div id="{{reservations[date][time].timeID}}" class="card" onclick="reservation()">
                <span id="time">{{reservations[date][time].time}}</span>
                <input id="date" type="hidden" value={{reservations[date][time].date}}>
                <input id="userID" type="hidden" value={{reservations[date][time].userID}}>
                <input id="name" type="hidden" value={{reservations[date][time].name}}>
                {% if reservations[date][time].name == False %}
                <span>예약 가능!</span>
                {% else %}
                <span>{{reservations[date][time].name}}님 예약중!</span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>

</html>