<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kratopia</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        function logout() {
            $.removeCookie('mytoken')
            window.location.href = '/loginpage'
        }
        function makeModal(id, time, name, userId, currentUserId, currentUserName) {
            let temp_html = `<div class="modal flex items-center justify-center fixed w-full h-full bg-neutral-800/60 hidden">
                <div class="modal_content relative  w-1/4 h-1/4 bg-white rounded-md cursor-pointer" title="reserve">
                    <button onclick="closeModal()" id="button_close" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-end text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                        <span class="sr-only">Close menu</span>
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                </button><div class="modal_text text-center pt-10 leading-loose">`
            if (name == "False" || name == "false") {
                temp_html += `<p><span class="underline font-bold">${currentUserName}</span>님 예약 가능</p>
                    <p>이용시간: <span class="underline font-bold">${time}시 ~ ${time + 1}시<span> </p>
                    <button id="button_reserve" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded">예약하기</button>`
            } else {
                temp_html += `<p>예약자 <span class="underline font-bold">${name}</span>님</p>
                <p>이용시간: <span class="underline font-bold">${time}시 ~ ${time + 1}시</span> </p>`
                if (userId == currentUserId) {
                    temp_html += `<button id="button_cancel" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded">취소하기</button>`
                }
            }
            temp_html += `</div></div></div>`

            return temp_html
        }

        function makeReservation(id, currentUserId, currentUserName) {
            $.ajax({
                type: "POST",
                url: "/reserve",
                data: { id_give: id, name_give: currentUserName, userId_give: currentUserId },
                success: function (res) {
                    if (res["result"] == "success") {
                        alert("예약 성공!")
                        window.location.reload();
                    } else {
                        alert(res["msg"])
                        window.location.reload();
                    }
                }
            })
        }

        function cancelReservation(id) {
            $.ajax({
                type: "POST",
                url: "/reserve/delete",
                data: { id_give: id },
                success: function (res) {
                    if (res["result"] == "success") {
                        alert("취소 성공!")
                        window.location.reload();
                    } else {
                        alert("서버 오류!")
                        window.location.reload()                    }
                }
            })
        }

        function closeModal() {
            $(".modal").fadeOut();
            $(".modal").remove();
        }
        $(document).on("click", ".card", function () {
            let id = $(this).attr("id");
            let time = Number($(`#${id} #time`).text());
            let userId = $(`#${id} #userID`).val();
            let name = $(`#${id} #name`).val();
            let currentUserId = $("#currentUserId").val();
            let currentUserName = $("#currentUserName").val();

            let temp_html = makeModal(id, time, name, userId, currentUserId, currentUserName)

            $(this).parent().parent().parent().append(temp_html);


            $(".modal").fadeIn();
            $(".modal").css({ 'display': 'flex' });

            $("#button_reserve").click(function () {
                makeReservation(id, currentUserId, currentUserName);
                $(".modal").fadeOut();
            });
            $("#button_cancel").click(function () {
                cancelReservation(id);
                $(".modal").fadeOut();
            });

        })

    </script>
</head>

<body class="w-full bg-black">
    <div class="w-full flex justify-between mt-6 px-8">
        <a href="/" class="block">
            <h1 class="text-4xl text-green-700 font-bold">Kratopia</h1>
        </a>
        <span class="text-green-700 font-bold text-2xl cursor-pointer" onclick="logout()">로그아웃</span>
    </div>
    <span
        class="text-4xl text-green-700 font-bold flex w-full justify-center mb-12">{{reservations[0][0].class}}반!</span>

    <div class="flex w-full justify-center mb-40">
        {% for date in range(7) %}
        <div class="week flex flex-col mx-1">
            <span class="text-4xl text-green-700 font-bold text-center mb-6">{{week[date]}}</span>
            {% for time in range(17) %}
            {% if reservations[date][time].userID == False %}
            <div id="{{reservations[date][time].timeID}}"
                class="card w-40 text-center mb-2 cursor-pointer ease-out duration-300 hover:bg-slate-300">
                <div>
                    <span id="time">{{reservations[date][time].time}}</span><span>시</span>
                </div>
                <input id="date" type="hidden" value={{reservations[date][time].date}}>
                <input id="userID" type="hidden" value={{reservations[date][time].userID}}>
                <input id="name" type="hidden" value={{reservations[date][time].name}}>
                {% if reservations[date][time].name == False %}
                <span>예약 가능!</span>
                {% else %}
                <span>{{reservations[date][time].name}}님 예약중!</span>
                {% endif %}
            </div>
            {% elif reservations[date][time].userID == user_id %}
            <div id="{{reservations[date][time].timeID}}"
                class="card w-40 text-center mb-2 bg-orange-600 text-white cursor-pointer ease-out duration-300 hover:bg-orange-700">
                <div>
                    <span id="time">{{reservations[date][time].time}}</span><span>시</span>
                </div>
                <input id="date" type="hidden" value={{reservations[date][time].date}}>
                <input id="userID" type="hidden" value={{reservations[date][time].userID}}>
                <input id="name" type="hidden" value={{reservations[date][time].name}}>
                {% if reservations[date][time].name == False %}
                <span>예약 가능!</span>
                {% else %}
                <span>{{reservations[date][time].name}}님 예약중!</span>
                {% endif %}
            </div>
            {% else %}
            <div id="{{reservations[date][time].timeID}}"
                class="card w-40 text-center mb-2 bg-indigo-500 text-white cursor-pointer ease-out duration-300 hover:bg-indigo-600">
                <div>
                    <span id="time">{{reservations[date][time].time}}</span><span>시</span>
                </div>
                <input id="date" type="hidden" value={{reservations[date][time].date}}>
                <input id="userID" type="hidden" value={{reservations[date][time].userID}}>
                <input id="name" type="hidden" value={{reservations[date][time].name}}>
                {% if reservations[date][time].name == False %}
                <span>예약 가능!</span>
                {% else %}
                <span>{{reservations[date][time].name}}님 예약중!</span>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <input id="currentUserId" type="hidden" value={{user_id}}>
    <input id="currentUserName" type="hidden" value={{user_name}}>
</body>

</html>