<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kratopia</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style></style>
    <script>
        function enterEvent() {
            if (window.event.keyCode == 13) {
                $('#loginBtn').trigger('click')
            }
        }
        function login() {
            console.log('로그인')
            pw = $('#user_pw').val()
            id = $('#user_id').val()
            $.ajax({
                type: 'POST',
                data: { id_give: id, pw_give: pw },
                url: '/login',
                success: function (res) {
                    if (res['result'] == 'success') {
                        $.cookie('mytoken', res['token'], { expires: 7 })
                        alert('로그인')
                        window.location.href = '/'
                    } else {
                        alert(res['msg'])
                    }
                }
            })
        }
    </script>
</head>

<body class="w-full bg-black">
    <a href="/" class="mt-6 ml-8 inline-block fixed">
        <h1 class="text-4xl text-green-700 font-bold">Kratopia</h1>
    </a>
    <div class="flex h-screen flex-col items-center justify-center">
        <div class="flex items-center justify-center mb-12">
            <img src="{{url_for ('static', filename='laundry.png')}}" alt="laundry-machine" class="w-16 mr-2">
            <h2 class="text-green-700 font-bold text-4xl">크래토피아</h2>
        </div>
        <div class="w-60 flex justify-between">
            <label for="user_id" class="text-2xl text-green-700 font-semibold">ID</label>
            <input onkeyup="enterEvent()" id="user_id" class="w-4/5 rounded-lg text-center" type="text"
                autocomplete="off">
        </div>
        <div class="w-60 flex justify-between mt-6">
            <label for="user_pw" class="text-2xl text-green-700 font-semibold">PW</label>
            <input onkeyup="enterEvent()" id="user_pw" class="w-4/5 rounded-lg text-center" type="password">
        </div>
        <div class="flex justify-center">
            <div class='button mr-3 mt-6 w-32 h-12 bg-green-500 rounded-lg cursor-pointer select-none
            active:translate-y-2  active:[box-shadow:0_0px_0_0_green,0_0px_0_0_green]
            active:border-b-[0px]
            transition-all duration-150 [box-shadow:0_10px_0_0_green,0_15px_0_0_black]
            border-b-[1px] border-green-400'>
                <span id="loginBtn" onclick="login()"
                    class='flex flex-col justify-center items-center h-full text-white font-bold text-xl '>로그인</span>
            </div>
            <div class='button mt-6 w-32 h-12 bg-green-500 rounded-lg cursor-pointer select-none
            active:translate-y-2  active:[box-shadow:0_0px_0_0_green,0_0px_0_0_green]
            active:border-b-[0px]
            transition-all duration-150 [box-shadow:0_10px_0_0_green,0_15px_0_0_black]
            border-b-[1px] border-green-400'>
                <a href="/signuppage"
                    class='flex flex-col justify-center items-center h-full text-white font-bold text-xl '>회원가입</a>
            </div>
        </div>
    </div>
</body>

</html>