<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kratopia</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style></style>
    <script>
        function enterEvent() {
            if (window.event.keyCode == 13) {
                $('#loginBtn').trigger('click')
            }
        }
        function login() {
            console.log('로그인')
            pw = $('#user_pw').val()
            id = $('#user_id').val()
            $.ajax({
                type: 'POST',
                data: { id_give: id, pw_give: pw },
                url: '/login',
                success: function (res) {
                    if (res['result'] == 'success') {
                        $.cookie('mytoken', res['token'], { expires: 7 })
                        alert('로그인')
                        window.location.href = '/'
                    } else {
                        alert(res['msg'])
                    }
                }
            })
        }
    </script>
</head>

<body class="w-full bg-black">
    <a href="/" class="mt-6 ml-8 inline-block fixed">
        <h1 class="text-4xl text-green-700 font-bold">Kratopia</h1>
    </a>
    <div class="flex h-screen flex-col items-center justify-center">
        <h2 class="text-green-700 font-bold text-4xl mb-12">크래토피아</h2>
        <div class="w-60 flex justify-between">
            <label for="user_id" class="text-2xl text-green-700 font-semibold">ID</label>
            <input onkeyup="enterEvent()" id="user_id" class="w-4/5 rounded-lg text-center" type="text" autocomplete="off">
        </div>
        <div class="w-60 flex justify-between mt-6">
            <label for="user_pw" class="text-2xl text-green-700 font-semibold">PW</label>
            <input onkeyup="enterEvent()" id="user_pw" class="w-4/5 rounded-lg text-center" type="password">
        </div>
        <div class="my-6">
            <button id="loginBtn" onclick="login()"
                class="w-20 text-center text-3xl text-green-700 font-semibold rounded-lg ease-out duration-300 hover:bg-white activate:bg-stone-600">login</button>
        </div>
        <div>
            <a href="/signuppage"
                class="block text-center w-20 text-1xl text-green-700 font-semibold rounded-lg ease-out duration-300 hover:bg-white activate:bg-stone-600">회원가입</a>
        </div>
    </div>
</body>

</html>