<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kratopia</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function signUp() {
            name = $('#user_name').val()
            id = $('#user_id').val()
            pw = $('#user_pw').val()
            pwck = $('#user_pwck').val()
            gender = $('input[name=gender]:checked').val()
            jungle_class = $('input[name=class]:checked').val()
            if (pw == pwck) {
                $.ajax({
                    type: 'POST',
                    data: { name_give: name, id_give: id, pw_give: pw, gender_give: gender, jungle_class_give: jungle_class },
                    url: '/signup',
                    success: function (res) {
                        if (res['result'] == 'nameerr') {
                            alert(res['msg'])
                            $('#user_name').val('').focus()
                        } else if (res['result'] == 'iderr') {
                            alert(res['msg'])
                            $('#user_id').val('').focus()
                        } else if (res['result'] == 'pwerr') {
                            alert(res['msg'])
                            $('#user_pw').val('').focus()
                        } else if (res['result'] == 'nameoverlap') {
                            alert(res['msg'])
                            $('#user_name').val('').focus()
                        } else if (res['result'] == 'idoverlap') {
                            alert(res['msg'])
                            $('#user_id').val('').focus()
                        } else if (res['result'] == 'None') {
                            alert(res['msg'])
                        } else {
                            alert('가입완료')
                            window.location.href = '/loginpage'
                        }
                    }
                })
            } else {
                alert('비밀번호가 다릅니다.')
                $('#user_pwck').val('').focus()
            }
        }
    </script>
</head>

<body class="w-full bg-black">
    <a href="/" class="mt-6 ml-6 inline-block fixed">
        <h1 class="text-4xl text-green-700 font-bold">Kratopia</h1>
    </a>
    <div class="flex h-screen flex-col items-center justify-center space-y-3">
        <div class="grid grid-cols-2">
            <label for="user_name" class="text-2xl text-green-700 font-semibold">name</label>
            <input id="user_name" type="text" autocomplete="off" required class="w-48 bg-white rounded-lg">
        </div>
        <div class="grid grid-cols-2">
            <label for="user_id" class="text-2xl text-green-700 font-semibold">ID</label>
            <input id="user_id" type="text" autocomplete="off" class="w-48 bg-white rounded-lg">
        </div>
        <div class="grid grid-cols-2">
            <label for="user_pw" class="text-2xl text-green-700 font-semibold">PW</label>
            <input id="user_pw" type="password" class="w-48 bg-white rounded-lg">
        </div>
        <div class="grid grid-cols-2">
            <label for="user_pwck" class="text-2xl text-green-700 font-semibold">PW Check</label>
            <input id="user_pwck" type="password" class="w-48 bg-white rounded-lg">
        </div>
        <div class="gird flow-col auto-cols-max space-x-2">
            <label for="man" class="text-2xl text-green-700 font-semibold">남자</label>
            <input id="man" name="gender" type="radio" checked value="male">
            <label for="woman" class="text-2xl text-green-700 font-semibold ml-6">여자</label>
            <input id="woman" name="gender" type="radio" value="female">
        </div>
        <div class="gird flow-col auto-cols-max space-x-2">
            <label for="red" class="text-2xl text-red-700 font-semibold">Red반</label>
            <input id="red" name="class" type="radio" checked value="red">
            <label for="blue" class="text-2xl text-blue-700 font-semibold">Blue반</label>
            <input id="blue" name="class" type="radio" value="blue">
        </div>
        <div>
            <button onclick="signUp()"
                class="text-2xl text-green-700 font-semibold hover:bg-stone-300 activate:bg-stone-600 rounded">가입하기</button>
        </div>
    </div>
</body>

</html>