<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kratopia</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style></style>
    <script>
        function signUp() {
            name = $('#user_name').val()
            id = $('#user_id').val()
            pw = $('#user_pw').val()
            pwck = $('#user_pwck').val()
            gender = $('input[name=gender]').val()
            jungle_class = $('input[name=class]').val()
            if (pw == pwck) {
                $.ajax({
                    type: 'POST',
                    data: { name_give: name, id_give: id, pw_give: pw, gender_give: gender, jungle_class_give: jungle_class },
                    url: '/signup',
                    success: function (res) {
                        if (res['result'] == 'nameerr') {
                            alert(res['msg'])
                        } else if (res['result'] == 'iderr') {
                            alert(res['msg'])
                            $('#user_id').val('').focus()
                        } else if (res['result'] == 'pwerr') {
                            alert(res['msg'])
                            $('#user_name').val('').focus()
                        } else if (res['result'] == 'nameoverlap') {
                            alert(res['msg'])
                        } else if (res['result'] == 'idoverlap') {
                            alert(res['msg'])
                        } else if (res['result'] == 'None') {
                            alert(res['msg'])
                        } else {
                            alert('가입완료')
                            window.location.href='/loginpage'
                        }
                    }
                })
            } else {
                alert('비밀번호가 다릅니다.')
                $('#user_pwck').val('').focus()
            }
        }
    </script>
</head>

<body>
    <a href="/">
        <h1>Kratopia</h1>
    </a>
    <div>
        <label for="user_name">이름</label>
        <input id="user_name" type="text" autocomplete="off" required>
    </div>
    <div>
        <label for="user_id">ID</label>
        <input id="user_id" type="text" autocomplete="off">
    </div>
    <div>
        <label for="user_pw">PW</label>
        <input id="user_pw" type="password">
    </div>
    <div>
        <label for="user_pwck">PW Check</label>
        <input id="user_pwck" type="password">
    </div>
    <div>
        <label for="man">남자</label>
        <input id="man" name="gender" type="radio" checked value="male">
        <label for="woman">여자</label>
        <input id="woman" name="gender" type="radio" value="female">
    </div>
    <div>
        <label for="red">Red반</label>
        <input id="red" name="class" type="radio" checked value="red">
        <label for="blue">Blue반</label>
        <input id="blue" name="class" type="radio" value="blue">
    </div>
    <div>
        <button onclick="signUp()">가입하기</button>
    </div>
</body>

</html>