<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kratopia</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style>

    </style>
    <script>
        function reservation(){
            
        }
        function reservationCall() {

        }
    </script>
</head>

<body>
    <div>
        <span onclick="reservationCall()">예약하기</span>
        <span onclick="reservationCall()">예약하기</span>
        <span onclick="reservationCall()">예약하기</span>
    </div>

    <div onclick="reservation()">
        <span>시간표</span>
        jinja2 사용
    </div>
</body>

</html>